__debug*
__pycache__/
.DS_Store
agent.json
.vscode/
komari-agent.exe
komari-agent
.komari-agent.exe.old
build/
.gocache/
.gomodcache/
dist/
auto-discovery.json
fake-agent-client.json
net_static.json
config.json
参考/
old/